@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;

}

li:hover {
    color: #00e600;
}

#logo {
    width: 180px;
    height: auto;
}

#feedback {
    color: aliceblue;
    cursor: pointer;
    font-size: 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-top: 50px;
    margin-left: 10%;
}

p {
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 50px;
    margin-right: 40px;
}

h1 {
    color: #00e600;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 70px;
    font-size: x-large;
    margin-bottom: 10px;
    margin-top: 20px;
}


h2 {
    color: #00e600;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 70px;
    font-size: x-large;
    margin-top: 20px;

}

h3 {
    color: #00e600;
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin-left: 70px;
    font-size: x-large;
    margin-top: 20px;

}


footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro' , sans-serif;

}

#visita {

    margin-top: 50px;
    margin-left: 33%;
    font-size: 30px;
    color: aqua;
}

#logo2 {
    width: 180px;
    height: auto;
}